@import url(https://fonts.googleapis.com/css2?family=Roboto&family=IBM+Plex+Mono&display=swap)
// @import url(https://fonts.googleapis.com/css2?family=Roboto&family=IBM+Plex+Mono&family=Barlow&family=Nanum+Gothic+Coding&family=Oswald&display=swap)

$font-stack-main: 'Roboto', sans-serif
$font-stack-mono: 'IBM Plex Mono', monospace
$primary-color: #000000
$secondary-color: #ffffff

*
	box-sizing: border-box

body
	font: 100% $font-stack-main
	color: $primary-color
	background: $secondary-color
	margin: 0
	padding: 0

header
	display: flex
	justify-content: space-between
	align-items: center
	background: #9e9e9e
	color: #d3d3d3
	position: relative
	height: 50px
	user-select: none
	cursor: default
	padding: 0 4px

button
	background-color: #1273da
	padding: 8px 12px
	color: white
	border: none
	border-radius: 4px
	font-size: 105%
	cursor: pointer
	min-width: 80px

.uploadpage
	display: flex
	justify-content: space-evenly
	width: 800px
	margin: 16px auto

	.inputsarea
		display: flex
		flex-direction: column
		justify-content: space-between

		span,
		textarea,
		button,
		input
			display: block
			margin: 4px 0

		input
			width: 300px

	button
		float: right

.imageholder
	background: #4b4b4b
	width: 400px
	height: 400px
	cursor: pointer

.allCards
	padding: 12px

	.card
		overflow: hidden
		display: inline-block
		border-radius: 2px
		width: 225px
		height: 384px
		margin: 10px
		border: solid black 1px

		img
			width: 400px

		p
			line-height: 15px
			margin: 16px 4px

		.time
			color: grey
			font-size: 80%

.single
	width: 800px
	margin: 16px auto

	.holder
		position: relative

		.column
			display: flex
			flex-direction: column
			position: absolute
			top: 0
			left: 400px

			span
				margin: 20px
				width: 200px

				p
					line-height: 8px

#myImage
	overflow: hidden
	width: 400px
	height: 400px

.singleline
	white-space: nowrap
	white-space: nowrap
	overflow: hidden
	text-overflow: ellipsis

.thumbnail
	height: 225px
	width: 225px
